.App {
    background-color: #f5f5f5;
  }
  
  .App-header {
    background-color: #f5f5f5;
  }

  .logo{  
    margin-left: 25%;
    height: max-content;
    width: max-content;
    background-color: #f5f5f5;
  }
  
  

  